.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da tela */
    text-align: center;
  }

  .card {
    padding: 2rem;
    background-color: white;
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    text-align: center; /* Centraliza o texto */
    width: 100%;
    max-width: 400px; /* Largura máxima do card */
  }
  
  h1 {
    font-size: 2rem;
    color: #333;
  }