  .outside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .inside-container {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    border-collapse: collapse;
  }
  
  .table-users {
    max-width: 600px;
    border-collapse: collapse;
  }

  .table-header td {
    font-weight: bold;
    font-size: larger;
  }

  tbody{
    text-align: left;
  }

  .content-header th{
    border: 1px solid black;
    
    height: 30px;
    vertical-align: bottom;
  }

  .content-body td {
    height: 10px;
    vertical-align: top;
    border-bottom: 1px solid black;
  }

  .empty-content {
    text-align: center;
  }